<footer class="footer-one">
    <!-- Lower Footer -->
    <div class="container-fluid p-0">
        <div class="footer-lower">
            <div class="container">
                <div class="row row-gap-3">
                    <div class="col-md-6">
                        <div class="footer-copy-right-one">
                            <p>© <script>document.write(new Date().getFullYear())</script> StrategyiLoan. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="footer-buttom-link text-end">
                            <ul>
                                <li><a href="{% url 'terms' %}">Terms &amp; Conditions</a></li>
                                <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.row -->
            </div>
        </div>
    </div>
</footer>